<nav mat-tab-nav-bar mat-align-tabs="center">
  <a mat-tab-link routerLink="/home" routerLinkActive #home="routerLinkActive" realignInkBar [active]="home.isActive">HOME</a>
  <a mat-tab-link routerLink="/org" routerLinkActive #org="routerLinkActive" realignInkBar [active]="org.isActive">ORGANIZATION</a>
  <a mat-tab-link routerLink="/contribute" routerLinkActive #contribute="routerLinkActive" [active]="contribute.isActive">CONTRIBUTE</a>
</nav>
<app-login></app-login>

<router-outlet></router-outlet>
