
<p>
  <mat-card class = "cards">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <i class="fas fa-calendar-alt"></i>
      </div>
      <mat-card-title> Event 1</mat-card-title>
      <mat-card-subtitle>November 21st 2018</mat-card-subtitle>
    </mat-card-header>
      <mat-card-content>
    <p>

    </p>
    </mat-card-content>
</mat-card>


<mat-card class = "cards">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <i class="fas fa-calendar-alt"></i>
    </div>
    <mat-card-title> Event 2</mat-card-title>
    <mat-card-subtitle>November 21st 2018</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>

    </p>
  </mat-card-content>
</mat-card>


<mat-card class = "cards">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <i class="fas fa-calendar-alt"></i>
    </div>
    <mat-card-title> Event 3</mat-card-title>
    <mat-card-subtitle>November 21st 2018</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>

    </p>
  </mat-card-content>
</mat-card>

<mat-card class = "cards">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <i class="fas fa-calendar-alt"></i>
    </div>
    <mat-card-title> Event 4</mat-card-title>
    <mat-card-subtitle>November 21st 2018</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>

    </p>
  </mat-card-content>
</mat-card>


