<h1>Contributors page</h1>
<div>
  <img class="center" src="../../assets/help.png"/>
</div>
<mat-card>
  <p style = "margin-bottom: 10px;">There is a total of  <b> {{organizations.length}} </b> Organizations that accepts donations around you:</p>
  <p>Types:
    <mat-form-field>
      <mat-select [(value)]="selected">
        <mat-option>All</mat-option>
        <mat-option value="option1">Food</mat-option>
        <mat-option value="option2">Clothe</mat-option>
        <mat-option value="option3">Furniture</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>You selected: {{selected}}</p>

  <br />

  <mat-accordion>

    <mat-expansion-panel *ngFor="let org of organizations; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-sitemap"></i>
          <b style = "text-transform: uppercase; text-indent: 50px;"> {{org.name}}</b>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p class = "description-of-organization">
        Contact Info:
        <br />
        Location: {{org.location}}
        <br />
        email: {{org.email}}
        <br />
        telephone: {{org.tel}}
        <br />
        email: {{org.email}}
        <br />
        Type of Donations accepted: {{org.type}}
        <br />
        website: <a>{{org.website}}</a>
        <a href="url">link text</a>
      </p>
    </mat-expansion-panel>
