<h1>Contributors page</h1>
<mat-card>
  <p style = "margin-bottom: 10px;">There is a total of {{organizations.length}} Organizations that accepts donations around you:</p>
  <mat-form-field>
    <mat-select [(value)]="selected">
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>

  <br />

  <mat-accordion>

    <mat-expansion-panel *ngFor="let org of organizations; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-sitemap"></i>
          <b style = "text-transform: uppercase; text-indent: 50px;"> {{org.name}}</b>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p class = "description-of-organization">
        Contact Info:
        <br />
        Location: {{org.location}}
        <br />
        email: {{org.email}}
        <br />
        telephone: {{org.tel}}
        <br />
        email: {{org.email}}
        <br />
        Type of Donations accepted: {{org.type}}
        <br />
        website: <a>{{org.website}}</a>
        <a href="url">link text</a>
      </p>
    </mat-expansion-panel>
