<h1>Contributors page</h1>
<mat-card>
  Organizations that accepts donations around you:
  <mat-accordion>

    <mat-expansion-panel *ngFor="let org of organizations; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-sitemap"></i>
          <b style = "text-transform: uppercase; text-indent: 50px;"> {{org.name}}</b>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p class = "description-of-organization">
        Contact Info:
        <br />
        Location: {{org.location}}
        <br />
        email: {{org.email}}
        <br />
        tel: {{org.tel}}
        <br />
        email: {{org.email}}
        <br />
        Type of Donations accepted: {{org.type}}
      </p>
    </mat-expansion-panel>
