<div class="center">
    <div id="form">
      <p-card header="Create an event!" [style]="{width: '30vw'}">
        <div>
          <table>
            <tr>
              <th> Start: </th>
              <td>
                <p-calendar value="startDate" formControlName="date" dateFormat="dd/mm/yy" [showIcon]="true" [showTime]="true"></p-calendar>
              </td>
            </tr>
            <tr>
              <th> End: </th>
              <td>
                <p-calendar value="endDate" formControlName="date" dateFormat="dd/mm/yy" [showIcon]="true" [showTime]="true"></p-calendar>
              </td>
            </tr>
            <tr>
              <th> Description: </th>
              <td>
                <mat-form-field appearance="legacy">
                  <mat-label>Description</mat-label>
                  <input matInput placeholder="E.g. Non perishable foods will be distributed">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <th> Street: </th>
              <td>
                <mat-form-field appearance="legacy">
                  <mat-label>Street</mat-label>
                  <input matInput placeholder="E.g. 200 rue Notre-Dame">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <th> City: </th>
              <td>
                <mat-form-field appearance="legacy">
                  <mat-label>City</mat-label>
                  <input matInput placeholder="E.g. Montreal">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <th> Province: </th>
              <td>
                <mat-form-field appearance="legacy">
                  <mat-label>Province</mat-label>
                  <input matInput placeholder="E.g. QC">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <th> Postal code: </th>
              <td>
                <mat-form-field appearance="legacy">
                  <mat-label>Postal code</mat-label>
                  <input matInput placeholder="E.g. H3K 2T1">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
        <p-footer>
          <button pButton type="button" label="Create" icon="pi pi-check" style="margin-right: .25em" (click)="submit()"></button>
          <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary" (click)="cancel()"></button>
        </p-footer>
      </p-card>
    </div>
</div>

<img src="icon.png">